In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# load raw data
df = pd.read_csv('PM2.5.csv')

# clean data with missing values          
'''drop the rows directly -> mess up the order
    first 24 rows have pm2.5 value that is NaN -> discard
    else: forward filling'''
df = df[24:].fillna(method='ffill')
df=df.reset_index()

In [3]:
def checkSeason(x):
    if (3<=x<6):
        return 1
    elif (6<=x<9):
        return 2
    elif (9<=x<12):
        return 3
    elif (x==12 or 1<=x<3):
        return 4

df['season']=df['month'].map(lambda x: checkSeason(x))

In [4]:
def checkCBWD(x):
    if (x=='SE'):
        return 1
    elif (x=='cv'):
        return 2
    elif (x=='NW'):
        return 3
    elif (x=='NE'):
        return 4

df['cbwd']=df['cbwd'].map(lambda x: checkCBWD(x))

In [5]:
def checkTime(x):
    if (0<=x<12):
        return 1
    elif (12<=x<24):
        return 2

df['time']=df['hour'].map(lambda x: checkTime(x))

In [6]:
df.drop(columns=['year', 'month', 'day', 'hour', 'No','index'], inplace=True)

df

       pm2.5  DEWP  TEMP    PRES  cbwd     Iws  Is  Ir  season  time
0      129.0   -16  -4.0  1020.0     1    1.79   0   0       4     1
1      148.0   -15  -4.0  1020.0     1    2.68   0   0       4     1
2      159.0   -11  -5.0  1021.0     1    3.57   0   0       4     1
3      181.0    -7  -5.0  1022.0     1    5.36   1   0       4     1
4      138.0    -7  -5.0  1022.0     1    6.25   2   0       4     1
...      ...   ...   ...     ...   ...     ...  ..  ..     ...   ...
43795    8.0   -23  -2.0  1034.0     3  231.97   0   0       4     2
43796   10.0   -22  -3.0  1034.0     3  237.78   0   0       4     2
43797   10.0   -22  -3.0  1034.0     3  242.70   0   0       4     2
43798    8.0   -22  -4.0  1034.0     3  246.72   0   0       4     2
43799   12.0   -21  -3.0  1034.0     3  249.85   0   0       4     2

[43800 rows x 10 columns]

In [30]:
import scipy.io as scio

feature = 'regression_feature.mat'
scio.savemat(feature, {'DEWP':np.array(df['DEWP'],dtype=float),'TEMP':np.array(df['TEMP'],dtype=float),'PRES':np.array(df['PRES'],dtype=float),
                       'cbwd':np.array(df['cbwd'],dtype=float),'Iws':np.array(df['Iws'],dtype=float),'Is':np.array(df['Is'],dtype=float),
                       'Ir':np.array(df['Ir'],dtype=float),'season':np.array(df['season'],dtype=float),'time':np.array(df['time'],dtype=float)})

label = 'regression_label.mat'
scio.savemat(label, {'pm2Dot5':np.array(df['pm2.5'],dtype=float)})